p {

    height: 100px;
    width: 100px;
    background-color:red;


}

.paragrath {
    background-color:blue;
    
    }

    .paragraf {
        background-color:red;
        opacity: 0.20;
        }
    